body {
	background-color: #333F48;
	margin-top:150px;
}

#login-box {
	background: #FFF;
	margin: 0 auto;
	width: 400px;
	margin-top: 20px;
	border: solid 3px #262F35;
}

#login-box form{
	padding: 20px;
}

#login-header {
	height: 80px;
	background-color: #516473;
	text-align: center;
}

/* Top Bar */
#top-bar{
	position: fixed;
	width: 100%;
	height: 145px;
	background: #516473;
	border-bottom: solid 8px #262F35;
	text-align: center;
	margin-bottom: 0px;
	top:0;
    left:0;
}
#top-bar #logo img{
	display: inline-block;
	width: 100px;
	height: 100px;
}

#top-bar #logo1 img {
	height: 80px;
}

#top-bar #logo1{
	display: inline-block;
	border-left: none;
	vertical-align: top;
	margin-top: 0px;
	height: 137px;
	padding: 30px 5px 10px 5px;
	font-weight: bold;
	font-size: 0px;
}

#top-bar #logo {
	display: inline-block;
	border-left: solid 1px #000000;
	margin-top: 0px;
	height: 137px;
	padding: 10px 5px 10px 5px;
	font-weight: bold;
	font-size: 18px;
}

.selected{
	background-color: 
}

/* Container */
.container {
	width: 100%;
	margin: 0 auto;


}

/* Box */
.box {
	height: 50px;
	width: 100%;
	background: #FFF;
}

#articles{
	padding-top: 10px;
}
.article {
	margin-top: 20px;
	font-size: 20px;
	cursor: pointer;
	overflow: auto;
}
.article div{
	float: left;
	text-align: center;
}
.article .name{
	padding: 10px 5px 10px 15px;
}

.article .warehouse1{
	padding: 6px 5px 0px 15px;
	float: right;
	background: #DDDDDD;
	height: 100%;
	min-width: 220px;
	text-align: left;
}

.article .pvp{
	float: right;
	background: #008BFF;
	width: 100px;
	height: 100%;
	color: #fff;
	font-size: 22px;
	font-weight: bold;
	padding-top: 10px;
}
.article .stock{
	width: 140px;
	float: right;
	height: 100%;
	padding: 10px 10px 0 10px;
	text-align: left;
	background: #DDDDDD;
}

#warehouses{
	padding-top: 10px;
}
.warehouse {
	margin-top: 20px;
	font-size: 20px;
	cursor: pointer;
	overflow: auto;
}
.warehouse div{
	float: left;
	text-align: center;
}
.warehouse .description{
	padding: 10px 5px 10px 15px;
}

.warehouse .phone{
	padding: 6px 5px 0px 15px;
	float: right;
	background: #DDDDDD;
	height: 100%;
	min-width: 180px;
	text-align: left;
}

.warehouse .distance{
	float: right;
	background: #008BFF;
	width: 100px;
	height: 100%;
	color: #fff;
	font-size: 22px;
	font-weight: bold;
	padding-top: 10px;
}


#logoutButton {
	
}

#textUsername {
	font-weight:bold;
	font-size: 140%;
	padding-top: 5px;
	padding-right: 10px;
	color: #4682B4;
}

/* Filter */
#filter {
	background: #DDDDDD;
}

#filter .icon{
	background: #262E34;
	width: 55px;
	height: 50px;
	padding: 10px 0 0 10px ;
	float: left;
}

#filter #parameters {
	padding: 7px 10px 10px 10px;
	float: left;
	font-size: 20px;
}
#filter #parameters select {
	padding:3px 5px 3px 5px;
	text-align: right;
    margin: 0;
    -webkit-border-radius:4px;
    -moz-border-radius:4px;
    border-radius:4px;
    -webkit-box-shadow: 0 3px 0 #ccc, 0 -1px #fff inset;
    -moz-box-shadow: 0 3px 0 #ccc, 0 -1px #fff inset;
    box-shadow: 0 3px 0 #ccc, 0 -1px #fff inset;
    background: #f8f8f8;
    color:#888;
    border:none;
    outline:none;
    display: inline-block;
    -webkit-appearance:none;
    -moz-appearance:none;
    appearance:none;
    cursor:pointer;
}

#recoveryPopup {
	display: none;
	background: #FFF;
	margin: 0 auto;
	width: 300px;
	margin-top: 20px;
	border: solid 3px #262F35;
	text-align: center;

}
#recoveryForm{
	padding: 20px;
}

#warehousePopup {
	font-size: 17px;
}

#warehousePopup .content .description .text{
	margin-left: 5px;
	line-height: 28px;

}

#warehousePopup .content div{
	border-bottom: solid 1px #DDDDDD;
	margin-bottom: 5px;
	padding: 10px;
}

#articlePopup {
	font-size: 17px;
}

#articlePopup .head  {
	height: 50px ;
	border-bottom: solid 1px #DDDDDD;
	overflow: hidden;
	font-size: 17px;
}

#articlePopup .head  div{
	float: right;
	margin:  0;
	padding: 0;
}

#articlePopup .content .description .text{
	margin-left: 5px;
	padding-left: 20px;
	line-height: 28px;

}

#articlePopup .head img{
	float: left;
	margin-top: 6px;
}

#articlePopup .head .article{
	margin: 0;
	padding: 10px 0 0 15px;
	width: 250px;
	float: left;
}


#articlePopup .content{
}

#articlePopup .content .description img{
	width: 150px;
	height: auto;
	float: left;
	margin: 0 10px 0 0;
}

#articlePopup .content h1,
#articlePopup .content b{
	font-size: 20px;
	font-weight: bold;
}

#articlePopup .content div{
	border-bottom: solid 1px #DDDDDD;
	overflow: auto;
	margin-bottom: 5px;
	padding: 20px;
}

#articlePopup .content .info span{
	margin-right: 20px;
}

#articlePopup .closePopup{
	background: #DDDDDD;
	text-align: center;
	width: 100%;
	position: absolute;
	bottom: 0px;
	font-size: 25px;
	padding: 0;
	cursor: pointer;
	border-bottom: none;
	margin-bottom: 0 !important;
}

#articlePopup .closePopup img{
	height: 35px;
	width: auto;
	margin-right: 5px;
}

#articlePopup .warehouses .warehouse{
	width: 202px;
	height: 51px;
	padding: 0;
	overflow: hidden;
	border-bottom: none;
	float: left;
	margin-right: 10px;
}


#articlePopup .warehouses{
	border-bottom: none !important;
}


#articlePopup .warehouses .warehouse div{
	margin: 0;
	padding: 0;
	float: left;
}

#articlePopup .warehouses .warehouse .name{
	background: #DDDDDD;
	width: 130px;
	height: 50px;
	padding: 5px 5px 0 10px;
	overflow: hidden;
}

#articlePopup .warehouses .warehouse .name img{
	float: left;
}

#articlePopup .warehouses .warehouse .name span{
	float: left;
	padding: 9px 0 0 0;
}

#articlePopup .warehouses .warehouse .stock{
	background: #262f35;
	color: #FFF;
	text-align: center;
	font-weight: bold;
	padding: 15px 0 0 0;
	height: 50px;
	width: 70px;
}

#map-canvas {
	height: 300px;
}

.recoveryTitle{
	color: rgb(118, 118, 118);
	font-size: 18px;
	font-weight: bold;
	display: block;
}

/* Responsive */
@media screen and ( max-width: 800px ) {

	.container {
		width: 100%;
	}

}


@media screen and ( max-width: 500px ) {

	#login-box {
		width: 80%;
	}

}

@media screen and ( max-width: 350px ) {
	#login-box button {
		width: 100%;
		margin-bottom: 5px;
	}
}

option{
	text-align: left;
}